.App {
  text-align: center;
}

.word-grid {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.word-container {
  display: flex;
}

.letter-container {
  height: 2rem;
  line-height: 2rem;
  width: 2rem;
  border: 1px solid black;
}
